#main {
    border-style: solid;
    border-color: purple;
    border-width: 2px;
}

.pink {
    color: pink;
}

h2 {
    margin-bottom: 20px; /* Adjusted margin for spacing below each h2 header */
}

@media (min-width: 600px) {
    #container {
        display: flex;
    }
    
    #main {
        width: 70%;
    }
    
    #sidebar {
        width: 30%;
    }
}
